/**
 * TODO custom variables
 * TODO skalanlegt
 */

footer {
  display: grid;
  justify-content: center;
  padding: var(--gutter);
  text-align: center;
  background-color: var(--color-accent);
  border-top: 2px solid var(--color-border);
}

footer .content {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gutter);
  justify-content: center;
  max-width: var(--max-width)-footer;
}

footer ul {
  list-style: none;
}

footer li a {
  word-break: break-all;
}

@media (width >= 700px) {
  footer .content {
    grid-template-columns: repeat(3, 1fr);
  }
}
