/**
 * TODO custom variables
 * TODO skalanlegt
 */

form {
  display: grid;
  gap: var(--gutter);
  width: 50%;
}

fieldset {
  display: grid;
  gap: var(--gutter);
  border: 0;
}

fieldset legend {
  grid-column: 1 / -1;
  margin-bottom: var(--spacing);
  font-size: var(--font-size-legend);
}

fieldset div {
  width: 100%;
}

fieldset div label {
  display: block;
}

fieldset input,
fieldset select,
fieldset textarea {
  width: 100%;
  padding: var(--form-padding);
  background-color: var(--color-input-background);
  border: var(--border-width) var(--color-border);
}

fieldset input[type='checkbox'] {
  display: inline-block;
  width: auto;
  margin-right: var(--spacing);
}



