/**
 * TODO custom variables
 * TODO skipta yfir í grid
 */
.wrapper {
  display: grid;
  gap: var(--layout-gap);
  min-height: 100vh;
  margin-top: var(--layout-margin-top);
}




main {
  width: var(--width-offset);
  max-width: var(--max-width);
  margin: 0 auto;
}

