/**
 * TODO custom variables
 * TODO skipta yfir í grid
 */
.wrapper {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  gap: var(--layout-gap);
  min-height: 100vh;
  margin-top: var(--layout-margin-top);
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  width: var(--width-offset);
  max-width: var(--max-width);
  margin: 0 auto;
}

footer {
  grid-area: footer;
}