table th, table td {
    padding: var(--spacing-half);
}

.table {
    min-width: var(--min-width-table);
}

.table-wrapper{
    overflow: auto;
}

@media (width >= 900px) {
  .card {
    grid-column: span 6;
    overflow: visible;
  }
}