/**
 * Hjálpar class sem felur sjónrænt það sem
 * skjálesarar lesa.
 */
.sr-only:not(:focus, :active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(50%);
}

/**
 * Almennt takka útlit, virkar bæði fyrir <a>
 * og <button>.
 * TODO nota custom variables
 */
.button {
  display: inline-block;
  padding: var(--button-padding) var(--button-padding-horizontal);
  font-size: 1rem;
  color: var(--color-accent-contrast);
  text-decoration: none;
  background-color: var(--color-accent);
  border: var(--button-border-width) solid var(--color-border);
  border-radius: var(--button-border-radius);
}
